.button {
    border: none;
    outline: none;

    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &.primary-button {
        color: whitesmoke;
        background-color: rgb(209, 24, 24);
    }

    &:active {
        transform: scale(0.9);
    }

  }