.post-image-label{
    color: black;
    background-color: whitesmoke;
    padding-inline: 1rem; // left & right
    padding-block: 0.5rem; // top & bottom
    border-radius: 1rem;
    cursor: pointer;
}