.feed-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .feed {
      max-width: 300px;
  }

  .posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    .post {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: rgb(57, 18, 18);
      padding-block: 0.5rem;
      padding-inline: 0.5rem;

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        .img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px;
          border-radius: 50%;
          background: conic-gradient(rgb(90, 14, 75), purple, rgb(118, 37, 37));
        }

        img {
          width: 3rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.4rem;

        .left {
          display: flex;
          gap: 0.5rem;

          button {
            border: none;
            outline: none;
            color: white;
            background-color: transparent;
          }

          .red {
            color: red;
          }
          .white {
            color: white;
          }
        }
        
        svg {
          width: 1.1rem;
          aspect-ratio: 1/1;
          // color: white;
        }
        // button {
        //   background-color: transparent;
        //   border: none;
        //   outline: none;
        // }

        .right {
          button {
            color: white;
            background-color: transparent;
            border: none;
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
